---
layout: default
---
{% include header.html %}

<div class="list">
  The Research Group on Artificial Intelligence and Machine Learning at the IUSS Pavia University School is focused on the research of methods in the field of machine learning and artificial intelligence for the extraction and quantification of information, the identification, automatic classification and prediction of events of interest. These methods are applied to data of different nature, with a specialization towards data collected through technologies: 1) imaging such as Positron Emission Tomography (PET), Nuclear Magnetic Resonance (NMR), Computed Tomography (CT), optical imaging, ultraviolet (UV) fluorescence, near infrared (IR) reflectography, multispectral imaging, functional near infrared imaging (fNIRS), visible imaging from remote sensing; 2) omics that allow the analysis of the entire genome. The main, but not exclusive, fields of application are biomedical and diagnostic imaging, environment, and cultural heritage.
{% if site.posts.size == 0 %}
  <h2></h2>
{% else %}

{% endif %}
</div>
